.header {
  $header: &;

  text-align: center;
  padding: 24px;

  &__title {
    height: 1px;
    overflow: hidden;
  }
  
  &__logo {
    height: 225px;
    object-fit: contain;
    width: 100%;
  }

  &--slim {
    #{$header}__logo {
      height: 100px;
    }
  }
}

.main {
  display: flex;
  flex-grow: 1;
  align-items: stretch;

  > * {
    flex-grow: 1;
  }
}
