@import '../core/variables';

.header {
  $header: &;

  text-align: center;
  padding: 24px;

  &__title {
    height: 1px;
    overflow: hidden;
  }
  
  &__logo {
    height: 225px;
    object-fit: contain;
    width: 100%;
  }

  &--slim {
    #{$header}__logo {
      height: 100px;
    }
  }
}

.main {
  align-items: stretch;
  display: flex;
  flex-grow: 1;

  > * {
    flex-grow: 1;
  }

  &__loader {
    animation: spin 2s linear infinite;
    border: 12px solid $orange; 
    border-top: 12px solid $blue-light; 
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    margin-top:12px;
    width: 75px;

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    &__container {
      padding: 32px;
      text-align: center;
    }
  }
}
