@import '../core/variables';

.pokemon-detail {
  $pokemonDetail: &;

  padding: 16px;
  position: relative;
  
  &__link {
    color:$white;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
  }

  &__card {
    background-color:$white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 968px;
    padding: 16px;
  }

  &__name {
    font-size: 32px;
    padding:26px;
    text-align: center;
    text-transform: capitalize;
  }
  
  &__container {
    align-items: center;
    display:flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    padding:10px;
    position: relative;
    text-transform:capitalize;
  }
  
  &__types {
      display:flex;
      list-style: none;
  }

  &__type {
    color: $white;
    font-size: 16px;
    margin: 4px;
    padding: 8px;
    text-transform: uppercase;
  }
  
  &__image {
    padding: 16px;
    width: 250px;
  }

  &__number {
    bottom: 0;
    font-size: 20px;
    padding: 12px;
    position: absolute;
    right:0;
  }

  &__profile__list {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__profile__term {
    font-weight: bold;
    padding-bottom: 4px;
    width: 50%;

    @media all and (min-width: 768px) {
      width: 15%;
    }
  }

  &__profile__definition {
    padding-bottom: 4px;
    width: 50%;

    @media all and (min-width: 768px) {
      width: 35%;
    }
  }

  &__definition {
    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    &__element {
      &:not(:last-child) {
        padding-bottom: 4px;
      }
    }
  }

  &__title {
    color: $white;
    font-size: 24px;
    margin: 16px 0;
    padding: 16px;
    text-transform: capitalize;

    &--normal {
      background-color: desaturate(darken($c-normal, 15), 10);
    }

    &--fighting {
      background-color: desaturate(darken($c-fighting, 20), 10);
    }

    &--flying {
      background-color: desaturate(darken($c-flying, 20), 10);
    }

    &--poison {
      background-color: desaturate(darken($c-poison, 20), 10);
    }

    &--ground {
      background-color: desaturate(lighten($c-ground, 20), 20);
    }

    &--rock {
      background-color: desaturate(darken($c-rock, 20), 10);
    }

    &--bug {
      background-color: desaturate(lighten($c-bug, 20), 10);
    }

    &--ghost {
      background-color: desaturate(darken($c-ghost, 20), 10);
    }

    &--steel {
      background-color: desaturate(darken($c-steel, 20), 10);
    }

    &--fire {
      background-color: desaturate(darken($c-fire, 20), 10);
    }

    &--water {
      background-color: desaturate(darken($c-water, 20), 10);
    }

    &--grass {
      background-color: desaturate(darken($c-grass, 20), 10);
    }

    &--electric {
      background-color: desaturate(darken($c-electric, 20), 10);
    }

    &--psychic {
      background-color: desaturate(darken($c-psychic, 20), 10);
    }

    &--ice {
      background-color: desaturate(darken($c-ice, 20), 10);
    }

    &--dragon {
      background-color: desaturate(darken($c-dragon, 20), 10);
    }

    &--dark {
      background-color: desaturate(darken($c-dark, 20), 10);
    }

    &--fairy {
      background-color: desaturate(darken($c-fairy, 20), 10);
    }

    &--unknown {
      background-color: desaturate(darken($c-unknown, 20), 10);
    }

    &--shadow {
      background-color: desaturate(darken($c-shadow, 20), 10);
    }
  }
}
